:root {
	--color-light: #ffffff;
	--color-light-alt: #e2e2e2;
	--color-dark: #000000;
	--color-dark-alt: #111111;
	--color-gray: #252525;
	--color-accent: #4D2BA8;
	--color-hot: #A82B4D;
	--color-sun: #cb8037;
	--color-happy: greenyellow;

	--panel-shadow: 
		0em 0em 1.5em 0 rgba(0, 0, 0, 0.6);
	--panel-shadow-offset: 0em calc(1.5em + 1px) 1.5em 0 rgba(0, 0, 0, 0.6);
	--lifted-shadow: 0em 0em 2.5em 0 rgba(0, 0, 0, 0.7);
	--pressed-shadow: 0em 0em 0.5em 0 rgba(0, 0, 0, 0.8);
	--focussed-shadow:
		0em 0em 2.5em 0 rgba(0, 0, 0, 0.6),
		inset 0 0 0 0.125em var(--color-light);
	
	--gradient-accent: linear-gradient(0deg,
		#4d2ba8,
		#602168, 
		#742828,
		#b04a51,
		#cb8037
	);
	--gradient-accent-angle: linear-gradient(-45deg,
		#4d2ba8,
		#602168, 
		#742828,
		#b04a51,
		#cb8037
	);
	--gradient-accent-tilted: linear-gradient(-90deg,
		#4d2ba8,
		#602168, 
		#742828,
		#b04a51,
		#cb8037
	);
	--gradient-accent-decay: linear-gradient(0deg, 
		transparent 0em,
		#4d2ba8 5em,
		#602168, 
		#742828,
		#b04a51,
		#cb8037
	);
	--gradient-button: 
		linear-gradient(125deg, #b04a51, #764153, #47333c), 
		linear-gradient(-45deg, #b04a51, #764153, #47333c);

	--font-ailerons: 'Ailerons', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);

	--container-width: minmax(0, 32rem);
	--container-padding: 0 1.5em;

	--content-padding: 1.5em;

	--grid-container-rows: auto;
	--grid-container-columns: 1fr var(--container-width) 1fr;

	--duration-instant: 75ms;
	--duration-fast: 150ms;
	--duration-average: 350ms;
	--duration-slow: 600ms;
	--duration-long: 1.25s;

	--easing: cubic-bezier(0.42, 0, 0.12, 0.97);

	--button-border: 0.25em;
	--button-layout: var(--button-border) 1fr var(--button-border);
	--button-shadow: 0em 0em 1em 0 rgba(0, 0, 0, 0.3);
}

@media all and (min-width: 32em) {
	
	:root {
		--container-width: minmax(32rem, 42rem);
		--container-padding: 0 2.5em;

		--content-padding: 2.5em;
	}

}

@media all and (min-width: 48em) {
	
	:root {
		--container-width: minmax(48rem, 58rem);
	}

}

@media all and (min-width: 64em) {

	:root {
		--container-width: minmax(60rem, 72rem);
	}

}

@media all and (min-width: 80em) {

	:root {
		--container-width: 75rem;
	}

}