.button {
	display: flex;
	align-items: stretch;
	box-shadow: var(--button-shadow);
	font-family: var(--font-montserrat);
	font-size: 1rem;
	text-shadow: none;
	padding: 0;
	margin: 1.5rem 0;
	cursor: pointer;
	background-color: transparent;
	transition: transform var(--duration-instant) ease-in-out, box-shadow var(--duration-instant) ease-in-out;
}

.button:focus {
	outline: 0;
}

.button:first-child {
	margin-top: 0;
}

.button:last-child:not(.button--message) {
	margin-bottom: 0;
}

.button--centered {
	display: flex;
	margin: 0 auto;
}

.button--control {
	display: flex;
	margin: 0;
}

.button--wide {
	width: 100%;
}

.button--message {
	margin: 0 0 1rem 0;
}

.button--right .button__label {
	justify-content: flex-end;
}

.button__label,
.button__icon {
	min-height: 3rem;
	transition: var(--duration-fast) var(--easing);
	transition-property: color, background-color;
}

.button__label {
	flex: 1 1 auto;
	display: inline-flex;
	align-items: center;
	font-size: 0.875em;
	font-weight: 400;
	word-wrap: normal;
	word-break: break-all;
	padding: 0 1rem;
	background: var(--color-light);
	color: var(--color-gray);
	z-index: 1;
}

.button__icon {
	flex: 0 0 auto;
	position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	color: var(--color-dark-alt);
	background-color: var(--color-light-alt);
}

.button--dark .button__label {
	background: var(--color-dark-alt);
	color: var(--color-light);
}

.button--dark .button__icon {
	background: var(--color-gray);
	color: var(--color-light);
}

.button:focus .button__icon,
.button:hover .button__icon {
	color: var(--color-light);
	background-color: var(--color-gray)
}

.button--dark:hover .button__icon,
.button--dark:focus .button__icon {
	color: var(--color-gray);
	background-color: var(--color-light-alt);
}

.button--active .button__label {
	background: transparent;
    color: var(--color-light);
}

/* .button:focus {
	box-shadow: var(--focussed-shadow);
}

.button:hover {
	box-shadow: var(--lifted-shadow);
}

.button:active {
	box-shadow: var(--pressed-shadow);
} */