.menu {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

.menu--banner {
	display: flex;
	align-items: stretch;
	margin: 0 0.25em;
}

.menu__item {
	font-size: 1em;
	margin: 0 0.25em;
}

.menu__link {
	font-size: 0.875em;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	color: var(--color-light);
	background-color: transparent;
	text-shadow: var(--text-shadow);
	transition-property: color, background-color, box-shadow, text-shadow;
}

.current-menu__item .menu__link,
.menu__link:hover {
	color: var(--color-dark-alt);
	background-color: var(--color-light);
	box-shadow: var(--button-shadow);
	text-shadow: none;
}

.banner[scrolled] .menu .menu__link,
body.is-menu-open .menu .menu__link {
	color: var(--color-dark-alt);
	text-shadow: none;
}

.menu__toggle {
	font-size: 1em;
	display: flex;
	background-color: var(--color-dark-alt);
	height: 3.5em;
	width: 3.5em;
	padding: 0;
	border: 0;
	margin: 0;
	cursor: pointer;
}

.menu__toggle:focus {
	outline: 0;
}

.menu__toggle-inner {
	display: grid;
	grid-template-rows: 2px;
	grid-template-columns: 1.25em;
	margin: auto;
}

.menu__toggle-inner::before,
.menu__toggle-inner::after {
	content: "";
	display: block;
	grid-area: 1 / 1 / 2 / 2;
	background: var(--color-light);
	transition: var(--toggle-transition);
}

.menu__toggle-inner::before {
	transform: translate3d(-3px, 0px, 0) rotate(45deg) scaleX(0.5);
}

.menu__toggle-inner::after {
	transform: translate3d(3px, 0px, 0) rotate(-45deg) scaleX(0.5);
}

.menu__flyout[open] .menu__toggle-inner::before {
	transform: translate3d(0px, 0px, 0) rotate(45deg) scaleX(1);
}

.menu__flyout[open] .menu__toggle-inner::after {
	transform: translate3d(0px, 0px, 0) rotate(-45deg) scaleX(1);
}

.menu__sub {
	max-height: 0;
	overflow: hidden;
	transition: max-height 350ms ease-in-out;
}

.menu__flyout[open] > .menu__sub {
	max-height: none;
}

.menu--sub {
	background-color: var(--color-dark-alt);
}

.menu--sub > .menu__item .menu__link span {
	color: var(--color-light);
	background-color: var(--color-dark-alt);
}

.side-menu {
	--toggle-transition: transform 350ms cubic-bezier(0.42, 0, 0.12, 0.97);
	display: block;
	list-style: none;
}

.side-menu .menu__item {
	margin: 0.5em 0;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(1em, 0, 0);
	transition-duration: 150ms;
	transition-property: opacity, visibility, transform;
	transition-timing-function: cubic-bezier(0.42, 0, 0.12, 0.97);
}

.side-menu .menu__item:first-child {
	margin-top: 0;
}

.side-menu .menu__item:last-child {
	margin-bottom: 0;
}

@media (prefers-reduced-motion: reduce) {

	.side-menu .menu__item {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		visibility: visible;
	}

}

/* Mixed class needed for transition animation */
.banner__side-menu[open] .side-menu .menu__item {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

/* .side-menu .menu__item:first-child {
	margin-top: 0;
}

.side-menu .menu__item:last-child {
	margin-bottom: 0;
} */

.side-menu .menu__link {
	font-family: 'Montserrat', sans-serif;
	height: 3.5rem;
	pointer-events: none;
	color: var(--color-dark-alt);
	transition: 250ms ease-in-out;
	transition-property: box-shadow;
}

.side-menu .menu__link:hover {
	box-shadow: var(--button-shadow);
}

.banner__side-menu[open] .side-menu .menu__link {
	pointer-events: all;
	text-shadow: none;
}

/* .side-menu .menu--sub > .menu__item .menu__link {
	padding: 0 1rem;
} */

/* .menu__link:hover::before {
	opacity: 1;
	visibility: visible;
} */

/* .side-menu .menu__link span {
	grid-area: label;
	display: flex;
	align-items: center;
	padding: 0 1em;
	background-color: var(--color-light);
	transition: 250ms ease-in-out;
	transition-property: background-color;
	z-index: 1;
} */

.side-menu .menu__link:hover span {
	/* background-color: var(--color-dark-alt); */
}