.navigation-main {
	display: none;
}

.navigation-side-main {
	display: block;
}

.navigation-side-main + .navigation-side {
	border-top: 1px solid var(--color-light-alt);
}

@media all and (min-width: 48em) {

	.navigation-main {
		display: flex;
	}

	.navigation-side-main {
		display: none;
	}
	
	.navigation-side-main + .navigation-side {
		border-top: 0;
	}

}