/* .news {
	--news-bar-width: 0.25em;
	--news-bar-icon: 1.5em;
	--news-grid-item-gap: 1em 0;
	position: relative;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: 1fr minmax(0, 60em) 1fr;
	grid-auto-flow: column;
	grid-row-gap: 4em;
	justify-content: center;
	padding: 2.5em 0 7.5em;
}

.news::before,
.news::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 0.625em solid var(--color-light);
	box-shadow: var(--panel-shadow);
	z-index: 1;
}

.news::before {
	top: 0;
	background-color: #cb8037;
	transform: translate(-50%, -100%);
}

.news::after {
	bottom: 5em;
	background-color: #47333c;
	border-color: #2d2d2d;
	transform: translate(-50%, 100%);
}

.news__bar {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: var(--news-bar-width);
	background: var(--gradient-accent-decay);
	transform: translate(-50%, 0);
} */

.news-item {
	position: relative;
	z-index: 1;
}

.news-item--front-page {
	--content-grid: 1.5em 1fr 1.5em;

	--news-item-grid:
		"bar" 1.5em
		"meta" auto
		"content" auto / 1fr;
	--news-grid-item-gap: 1em 0;
	--news-item-meta-justify-odd: normal;
	--news-item-meta-justify-even: normal;

	display: grid;
	grid-column: 2 / 3;
	grid-template: var(--news-item-grid);
	grid-column-gap: var(--news-column-gap);
	gap: var(--news-grid-item-gap);
	align-items: center;
}

.news-item__meta {
	grid-area: left;
}

.news-item__meta-wrapper {
	grid-area: 1 / 1 / 3 / 3;
}

.news-item__content {
	grid-area: right;
}

.news-item__thumbnail {
	display: block;
	height: 15em;
	width: 100%;
}

.news-item__thumbnail img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.news-item--front-page .news-item::after {
	grid-area: bar;
	content: "";
	display: block;
	height: var(--news-bar-icon);
	width: var(--news-bar-icon);
	margin: auto;
	border: 0.625em solid var(--color-light);
	border-radius: 50%;
	box-shadow: var(--panel-shadow);
}

.news-item__title:last-child {
	color: var(--color-light);
	margin: 0 0 1.5rem;
}

.news-item__date {
	font-weight: 300;
}

.news-item__meta {
	grid-area: meta;
}

.news-item__content {
	grid-area: content;
}

.news-item--front-page .news-item:nth-child(odd) .news-item__meta {
	justify-self: var(--news-item-meta-justify-odd);
}

.news-item--front-page .news-item:nth-child(even) .news-item__meta {
	justify-self: var(--news-item-meta-justify-even);
}

/* .news-item__meta {
	transform: translate(0, 1.5em);
} */

@media all and (min-width: 48em) {

	.news {
		--news-column-gap: 5em;
	}

	.news-item--front-page {
		--news-item-grid: 
			"meta bar content" 1fr / 1fr 1.5em 1fr;
		--news-grid-item-gap: 0 2.5em;
		--news-item-meta-justify-odd: end;
		--news-item-meta-justify-even: start;
		/* margin: -5em 0; */
	}

	.news-item--front-page.spot {
		opacity: 0;
		visibility: hidden;
		transition: var(--duration-average) var(--duration-slow) var(--easing);
		transition-property: opacity, visibility;
	}

	.news-item--front-page.spot.animate {
		opacity: 1;
		visibility: visible;
	}

	.news-item--front-page:first-child {
		margin-top: 0;
	}

	.news-item--front-page:last-child {
		margin-bottom: 0;
	}

	.news-item--front-page::after {
		grid-area: bar;
		content: "";
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		border: 0.625em solid var(--color-light);
		box-shadow: var(--panel-shadow);
		z-index: 1;
	}

	.news-item--front-page.spot .news-item__meta,
	.news-item--front-page.spot .news-item__content {
		transition: transform var(--duration-average) var(--duration-slow) var(--easing);
	}

	.news-item--front-page:nth-child(odd) .news-item__meta,
	.news-item--front-page:nth-child(even) .news-item__content {
		grid-area: meta;
	}

	.news-item--front-page.spot:nth-child(odd) .news-item__meta,
	.news-item--front-page.spot:nth-child(even) .news-item__content {
		transform: translate3d(-1.5em, 0, 0);
	}

	.news-item--front-page:nth-child(even) .news-item__meta,
	.news-item--front-page:nth-child(odd) .news-item__content {
		grid-area: content;
	}

	.news-item--front-page.spot:nth-child(even) .news-item__meta,
	.news-item--front-page.spot:nth-child(odd) .news-item__content {
		transform: translate3d(1.5em, 0, 0);
	}

	.news-item--front-page.spot.animate:nth-child(odd) .news-item__meta,
	.news-item--front-page.spot.animate:nth-child(even) .news-item__content,
	.news-item--front-page.spot.animate:nth-child(even) .news-item__meta,
	.news-item--front-page.spot.animate:nth-child(odd) .news-item__content {
		transform: translate3d(0, 0, 0);
	}

}