.panel {
	--panel-color: var(--color-light);
	--panel-background-color: var(--color-dark-alt);
	--panel-gutter: 2px;
	--panel-rows: var(--panel-gutter) 1fr var(--panel-gutter);
	--panel-columns: var(--panel-gutter) 1fr var(--panel-gutter);

	display: grid;
    grid-template-rows: var(--panel-rows);
	grid-template-columns: var(--panel-columns);
	grid-gap: 0;
	gap: 0;
	box-shadow: var(--panel-shadow);
}

.panel--light {
	--panel-color: var(--color-dark-alt);
	--panel-background-color: var(--color-light);
}

.panel::before {
	grid-area: 1 / 1 / 4 / 4;
	content: "";
	background: var(--gradient-accent);
	z-index: 0;
}

.panel__content {
	grid-area: 2 / 2 / 3 / 3;
	z-index: 1;
}

.panel--centered::before {
	grid-area: 1 / 2 / 4 / 3;
}

.panel--centered .panel__content {
	grid-area: 2 / 1 / 3 / 4;
}

.panel--overlay::before,
.panel--overlay .panel__content {
	grid-area: 1 / 1 / 4 / 4;
}

.panel--quick-nav::before {
	grid-area: 1 / 2 / 4 / 3;
}

.panel--quick-nav .panel__content {
	grid-area: 1 / 1 / 3 / 4;
}

.panel--with-footer::before {
	grid-area: 2 / 2 / 3 / 3;
}

.panel--with-footer .panel__content {
	grid-area: 1 / 1 / 4 / 4;
	display: grid;
	grid-template:
		"body" 1fr
		"footer" auto / 1fr;
	grid-gap: var(--panel-gutter);
	gap: var(--panel-gutter);
}

.panel__body {
	color: var(--panel-color);
	background-color: var(--panel-background-color);
	height: 100%;
	padding: var(--content-padding);
}

.panel__footer {
	grid-area: footer;
}

.panel__link,
.panel__label {
	color: var(--color-dark-alt);
	background-color: var(--color-light);
	padding: 1.5em;
}

.panel--left .panel__content {
	grid-area: 1 / 1 / 4 / 3;
}

.panel--left::before {
	grid-area: 2 / 2 / 3 / 4;
}

.panel--right .panel__content {
	grid-area: 1 / 2 / 4 / 4;
}

.panel--right::before {
	grid-area: 2 / 1 / 3 / 3;
}