.toggle {
	--toggle-transition: 350ms var(--easing);

	font-size: 1em;
	align-items: center;
	justify-content: center;
	appearance: none;
	display: flex;
	margin: 0;
	padding: 0;
	border: 0;
	height: 3.125rem;
	padding: 0 1rem;
	cursor: pointer;
	transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.toggle:focus {
	outline: 0;
}

.toggle__inner {
	display: grid;
	position: relative;
	width: 1.25em;
	margin: auto;
}

.toggle--menu .toggle__inner {
	position: relative;
	grid-template-rows: 0.125em;
	grid-template-columns: 1.25em;
}

.toggle__inner::before,
.toggle__inner::after {
	content: "";
	grid-area: 1 / 1 / 2 / 2;
	display: block;
	background-color: currentColor;
	transition: var(--toggle-transition);
	transition-property: background-color, transform;
}

.toggle__inner::before {
	transform: translate3d(0, -0.25em, 0);
}

.toggle__inner::after {
	transform: translate3d(0, 0.25em, 0);
}

[aria-expanded="true"] .toggle .toggle__inner::before {
	transform: translate3d(-0.25em, 0, 0) rotate(90deg);
}

[aria-expanded="true"] .toggle .toggle__inner::after {
	transform: translate3d(0.25em, 0, 0) rotate(-90deg);
}

[aria-expanded="false"] .toggle:hover .toggle__inner::before,
[aria-expanded="false"] .toggle:hover .toggle__inner::after {
	/* background-color: var(--color-light); */
}

/* [aria-expanded="true"] .toggle:hover .toggle__inner::before,
[aria-expanded="true"] .toggle:hover .toggle__inner::after {
	background-color: var(--color-dark-alt);
} */

@media all and (min-width: 64em) {

	[aria-expanded="false"] .toggle:hover .toggle__inner::before {
		transform: translate3d(-0.25em, -0.25em, 0);
	}

	[aria-expanded="false"] .toggle:hover .toggle__inner::after {
		transform: translate3d(0.25em, 0.25em, 0);
	}

	[aria-expanded="true"] .toggle:hover .toggle__inner::before {
		transform: translate3d(-0.25em, -0.25em, 0) rotate(90deg);
	}

	[aria-expanded="true"] .toggle:hover .toggle__inner::after {
		transform: translate3d(0.25em, 0.25em, 0) rotate(-90deg);
	}

}